

html, body {

  scroll-behavior: smooth;
  font-weight: lighter;
}


header {
  background: url("https://images.unsplash.com/photo-1570224344094-125a17f832a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80");
  height:120vh;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  position: relative;
}


.home {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  font-size: 20px;
  top: 20px;
  left: 40px;
}
.home:hover {
  pointer-events: all;
}
.label {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
  font-size: 20px;
}
.spacer {
  display: inline-block;
  width: 100px;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
}
.spacer:before {
  content: "";
  position: absolute;
  border-bottom: 2px solid #ffffff;
  height: 1px;
  width: 0%;
  transition: width 0.25s ease;
  transition-delay: 0.7s;
}
.item {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  transition-delay: 0;
}

.nav-link:hover {
  color: white;
}
span {
  transition: color 0.5s ease;
}
.item:hover span {
  color: #ff0000;
}
.home:hover .spacer:before {
  width: 100%;
  transition-delay: 0s;
}
.home:hover .item {
  opacity: 1;
  top: 0px;
}

.col-md-4 .image {
  box-shadow: 0 40px 40px -14px rgba(0, 0, 0, 0.25);
}
.fa-html5 {
  color: #F16529;
}
.fa-css3 {
  color: #264DE4;
}
.fa-js {
  color: #D4B830;
}
.fa-git {
  color: #F05033;
}
.fa-terminal {
  color: #000000;
}

.description img {
  width: 15px; 
  height: 15px;
}
.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}


#intro h2 {
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 2px;
    padding: 250px 0 5px 0;
}
#intro h4 {
    margin: 0px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 1px;
    padding: 0px 0 5px 0;
}

/* my work start */
.blurb h2 {
	color: #000000;
	font-weight: 100;
	font-size: 2.5rem;
}

.blurb p {
	color: #000000;
	font-weight: 100;
	font-size: 1.125rem;
	line-height: 2;
}
/* my work end */

.container {
  margin-top: 100px;
}

.fa-twitter {
  color: #55ACEE;
  font-size: 30px;
} 
.fa-github {
  color: #000000;
  font-size: 30px;
} 
.fa-envelope {
  color: #55ACEE;
  font-size: 30px;
} 
.fa-linkedin-in {
  color: #0082CA;
  font-size: 30px;
} 
.list-unstyled li, a {
  color: white;
}

.row h5 {
  margin-top: 10px;
}
.col-auto {
  margin-bottom: 20px;
}
.footer {
  margin-top: 0px;
  background-color: #222922;
  color: white;
}
/* ------------------------------------------------------------------------------- */


.col-text {
  height:20em;
}
.grid-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-direction: row; 
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
}
.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.col-left {
  -webkit-box-ordinal-group:-1;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
.col-text{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Aligner-item {
  width: 60%;
}
.col-image {
  background-size: cover;
  background-position:center center;
}

@media (max-width: 640px) {
  .grid-flex {
    height: 40em;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column; 
   }
  .col {
    order:vertical;
  }
  .col-left {
    -webkit-box-ordinal-group:0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .col-text div p {
    padding: 1em;
  }
  .Aligner-item {
    width: 90%;
  }
}


