body {
  font-family: 'Montserrat';
}
#title {
  background-color: #03495e;
  color:#fff;
}
.containers-fluid {
  padding: 3% 15% 8%;
}

h1 {
  font-family: 'Montserrat-Black';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

/* Navegation Bar */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}


/* title image */
.title-image {
   width: 60%;
   border-radius: 50%;
   /* transform: rotate(5deg); */
   /* put the image  behind the features */
   position: absolute;
   right: 30%;
}







/* image   */
@media (max-width: 1028px) {
  #title {
      text-align: center;
  }
  .title-image {
      position: static;
      transform: rotate(0);
  }
}