.header {
  height:250px;
  background-color:rgb(132, 165, 160);
}

.picture{
  border-radius: 50%;
  width:190px;
  height:190px;
  padding: 50px;
  margin: 100px;
  float:left;
}


input {
  padding:  10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px ;
  background-color:#424242;
}
/* //------------------------------ */
