
#main-navbar {
  font: 1.15em;
  background-color: #2C5364;
  padding-top: 1em;
}

#main-navbar ul {
  margin: 0;
  padding: 0;
}

#main-navbar li {
  display: inline-block;
  padding: 10px 20px;
}

#main-navbar li a {
  text-decoration: none;
  color: rgb(131, 143, 184);
}

#main-navbar li a:hover {
  padding-bottom: 3px;
  color: rgb(235, 224, 224);
}
/* nav end */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

:root {
  font-size: 10px;
  --padding: 3rem;
}

::-moz-selection {
  background: rgb(17, 17, 17, 0.99);
  color: rgb(89, 89, 89);
}

::selection {
  background: rgb(17, 17, 17, 0.99);
  color: rgb(89, 89, 89);
}

body {
	padding-top: 0;
}

.jumbotron {
	color: #2c3e50;
	background:#ecf0f1;
}

.navbar-inverse {
	background: #2c3e50;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}