body {
	padding: 20px;
	max-width:  700px;
	width: 80%;
	margin: 20px auto;
   font-family: Source Sans Pro;
}



.home {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  top: 20px;
  left: 40px;
}
.home:hover {
  pointer-events: all;
}
.label {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
  color: black;
  font-size: 15px;
}
.spacer {
  display: inline-block;
  width: 100px;
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
}

.spacer:before {
  content: "";
  color: black;
  position: absolute;
  border-bottom: 2px solid #ffffff;
  height: 1px;
  width: 0%;
  transition: width 0.25s ease;
  transition-delay: 0.7s;
}

.item {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  transition-delay: 0;
}

.nav-link {
  color: black;
}
span {
  transition: color 0.5s ease;
}

.item:hover span {
  color: #ff0000;
}

.home:hover .spacer:before {
  width: 100%;
  transition-delay: 0s;
}

.home:hover .item {
  opacity: 1;
  top: 0px;
}

.home:hover .spacer:before {
  width: 100%;
  transition-delay: 0s;
  border-color: black;
}


h2 {
	color: #2c3e50;
	font-size: 2.0rem;
}

hr {
	height: 12px;
	border: 0;
	box-shadow: inset 0 1px 1px -1px rgba(0, 0, 0, 0.5);
}

.jumbotron .container {
	background: red;
	margin: 10px;
}

 .shadow-lg  {
	text-align: center;
	margin-top: 5%;
}

.post {
	margin-top: 5%;
}

#carouselExampleControls {
	margin-bottom: 100px;
	box-sizing: border-box;
}

.list-inline-item .fa-facebook-f {
  color: #3B5998;
} 
.list-inline-item .fa-twitter {
  color: #55ACEE;
} 
.list-inline-item .fa-github {
  color: #000000;
} 
.list-inline-item .fa-envelope {
  color: #55ACEE;
} 
.list-inline-item .fa-linkedin-in {
  color: #0082CA;
} 
footer  {
  margin-top: 50px;
}


